<html>
<head>
<title>Demo socket IO</title>
<script src="jquery-3.4.1.min.js"></script>
<script src="socket.io/socket.io.js"></script>
<script>
    var socket = io("http://localhost:8888")
    $(document).ready(function(){
        alert("hello jquery");
    });
</script>
</head>
<body>
Hello world!
</body>
</html>