<html>
<head>
<title>Demo socket IO</title>
<script src="jquery-3.4.1.min.js"></script>
<script src="socket.io/socket.io.js"></script>
<script>
    var socket = io("http://localhost:8888")
    socket.on("Server-sends-data", function(data){
        $('#content').append(data + ", ");
    });

    $(document).ready(function(){
        $('#buttonA').click(function(){
            socket.emit("Client-sends-data","UHMMMM");
        });
    });
</script>
</head>
<body>
    <div id="buttonA">Click on</div>
    <h1 id="content"></h1>
</body>
</html>